Tests/xplus_tests/choice/choice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:ns1="urn:ns1"
        targetNamespace="urn:ns1"
        version="0.1" elementFormDefault="qualified"> 


  <element name="elem" type="ns1:ElemType"/> 
  <complexType name="ElemType" mixed="true">
    <choice>     
      <element name="e1" type="xs:string"/> 
      <element name="e2" type="xs:string"/> 
    </choice>
  </complexType>

</xs:schema>
