Tests/xplus_tests/defaultTest/defaultTest.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="root">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="e1" type="xsd:int" default="500" minOccurs="0" />
        <xsd:element name="e2" type="xsd:int" default="600"/>
      </xsd:sequence>
      <xsd:attribute name="a2" type="xsd:int" default="200" use="optional"/>
      <xsd:attribute name="a3" type="xsd:int"/>
    </xsd:complexType>
  </xsd:element>
	

</xsd:schema>
