examples/xsds/nons/complexTypes.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >

  <xsd:include schemaLocation="simpleTypes.xsd"/>

  <xsd:complexType name="Files">
    <xsd:sequence>
      <xsd:element name="fileName" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

   <xsd:complexType name="Directory">
    <xsd:sequence>
      <xsd:element name="path"  type="xsd:string" />
      <xsd:element name="files" type="Files"/>
    </xsd:sequence>
    <xsd:attribute name="numberOfFiles" type="AllNNI" />
  </xsd:complexType>

</xsd:schema>
