Tests/xplus_tests/xsiTest3/xsiTest3.xsd

<xsd:schema 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  elementFormDefault="qualified"
  >

  <xsd:complexType name="SomeType" abstract="true">
    <xsd:sequence>
      <xsd:element name="item" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" default="102"/>
  </xsd:complexType>  

  <xsd:complexType name="SomeType2">
    <xsd:complexContent>
      <xsd:extension base="SomeType">
        <xsd:sequence>
          <xsd:element name="item2" type="xsd:int"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>  
  
  <xsd:element name="items" type="SomeType2"/>
</xsd:schema>

