examples/japaneseDoc_utf8/japaneseDoc_utf8.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 
  <xsd:element name="document" type="documentType"/>

  <xsd:complexType name="documentType">
    <xsd:sequence>
      <xsd:element name="para" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>

