Tests/xplus_tests/includeTests/including1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >

  <xsd:include schemaLocation="i1.xsd"/>
  <xsd:include schemaLocation="i2.xsd"/>

  <xsd:element name="root1" type="AlphabeticString"/>
  <xsd:element name="root2" type="StringLength5"/>
  <xsd:element name="root3">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="elem1_from_i1"/>
        <xsd:element ref="elem1_from_i2"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>

