Tests/xplus_neg_tests/scRest2/scRest2.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:simpleType name="anInt1To200">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="200"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="ComplexTypeSCRestn">
    <xsd:simpleContent>
      <xsd:restriction base="anInt1To200">
        <xsd:minInclusive value="1"/>
        <xsd:maxInclusive value="100"/>
        <xsd:attribute name="id" type="xsd:string"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:element name="root" type="ComplexTypeSCRestn"/> 

</xsd:schema>
